
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Cooperative RMUTR</title>

    <!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
<!-- css demax -->
<link href="/css/Ahtml.css" rel="stylesheet">

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/picture/logo.jpg" sizes="180x180">
  <link rel="icon" href="/picture/logo.jpg" sizes="32x32" type="image/jpg">
  <link rel="icon" href="/picture/logo.jpg" sizes="16x16" type="image/jpg">
  <link rel="manifest" href="/picture/logo.jpg">
  <link rel="mask-icon" href="/picture/logo.jpg" color="#7952b3">
  <link rel="icon" href="/picture/logo.jpg">
  <meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/blog.css" rel="stylesheet">
    <!-- css demax -->
    <link href="/css/Ahtml.css" rel="stylesheet">
  </head>
  <body>
    
<div class="container">
  <header class="blog-header py-4">
    <div class="row flex-nowrap justify-content-between align-items-center">
     
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="#">Cooperative RMUTR</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        
        <% if (loggedIn) { %>
            <a class="btn btn-sm btn-danger" href="/logout">Logout</a>
        <% } %>

        <% if (!loggedIn) { %>
            <a class="btn btn-sm btn-outline-secondary mx-3" href="/login">Sign In</a>
            <a class="btn btn-sm btn-success" href="/register">Sign Up</a>
        <% } %>
      </div>
    </div>
  </header>

 
</div>

<main class="container align-content-center align-items-center ">
  <div class="p-4 p-md-5 mb-5 text-white rounded bg-danger">
    <div class="col-md-6 px-1">
      <h1 class="display-6 fst-italic">ระบบติดตามงานสหกิจศึกษา</h1>
      <h3>User ID <%= UserData._id %></h3>
      <h3>Username : <%= UserData.username %></h3>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">ยินดีต้อนรับ , <%= UserData.email %></a></p>
    </div>
  </div>
<!-- 
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Design</strong>
          <h3 class="mb-0">Post title</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
  </div> -->

  <div class="row g-5">
    <div class="col-md-12">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        ข้อมูลการออกสหกิจศึกษา
      </h3>

      <article class="blog-post">
        <h3 class="display-7">กรอกข้อมูลการออกสหกิจศึกษารายวัน <%= UserData.email %></h3>
        <br>
        <form action="/upload" method="POST" enctype="multipart/form-data" class="input-container">
          <h4>ข้อมูลชื่อสถานที่การออกสหกิจศึกษา</h4>
          <input type="text" placeholder="ชื่อสถานที่ฝึกงาน" class="input1" id="companyName" name="companyName" required>
          <input type="text" placeholder="ที่อยู่สถานที่ฝึกงาน" class="input1" id="companyAddress" name="companyAddress" required>
          <h4 >ข้อมูลนักศึกษา</h4>
          <input type="text" placeholder="ชื่อ" class="input1" id="firstName" name="firstName" required>
          <input type="text" placeholder="นามสกุล" class="input1" id="lastName" name="lastName" required>
          <input type="tel" placeholder="รหัสประจำตัวนักศึกษา" class="input1" id="studentID" name="studentID" value="<%= UserData.studentID %>" required readonly>
          <input type="tel" placeholder="เบอร์โทรศัพท์" class="input1" id="phoneNumber" name="phoneNumber" required>
          <h4 >รายละเอียดหน้าที่การทำงานของนักศึกษาวันนี้</h4>
          <textarea class="input2" placeholder="หน้าที่การทำงานของนักศึกษา" id="jobDetails" name="jobDetails" required></textarea>
          <h4>วันและเวลาทำการ</h4>
          <input type="datetime-local" id="dateTime" name="dateTime" required><br><br>
          <h4>หลักฐานการทำงาน (ไฟล์ภาพ) </h4><br>
          <input type="file" id="image" name="image" accept="image/*"><br><br>
          <h4>Username : <%= UserData.username %></h4>
          <h4>User ID :<%= UserData._id %></h4> <br>
          <button class="bg-danger" type="submit">ส่งข้อมูล</button>
        </form>
      </article>

     
   <!-- Pending Approval -->
   <h2>รอดำเนินการตรวจสอบ</h2>
   <table class="table-container bg-secondary text-white">
       <thead>
           <tr>
               <th>ชื่อสถานที่ฝึกงาน</th>
               <th>ที่อยู่สถานที่ฝึกงาน</th>
               <th>ชื่อ</th>
               <th>นามสกุล</th>
               <th>รหัสประจำตัวนักศึกษา</th>
               <th>เบอร์โทรศัพท์</th>
               <th>หน้าที่การทำงานของนักศึกษา</th>
               <th>หลักฐานการทำงาน (ไฟล์ภาพ)</th>
               <th>วันและเวลาทำการ</th>
               <th>ดำเนินการ</th>
           </tr>
       </thead>
       <tbody class="table-hover">
    <% students.forEach(student => { %>
      <% if (student.studentID === UserData.studentID) { %>
          <tr>
              <td><%= student.companyName %></td>
              <td><%= student.companyAddress %></td>
              <td><%= student.firstName %></td>
              <td><%= student.lastName %></td>
              <td><%= student.studentID %></td>
              <td><%= student.phoneNumber %></td>
              <td><%= student.jobDetails %></td>
              <td>
                  <a class="image-container" href="<%= student.image %>">
                      <img width="100" class="student-image" src="<%= student.image %>" alt="Student Image">
                  </a>
              </td>
              <td><%= student.dateTime %></td>

              <% if(student.isApproved == "รอดำเนินการตรวจสอบ") { %>
              <td style="background-color: yellow;color: blue;"><%= student.isApproved %></td>
              <% } %>
              <% if(student.isApproved == "ผ่านการตรวจสอบแล้ว") { %>
                <td style="background-color: green;color: whitesmoke;"><%= student.isApproved %></td>
              <% } %>
              <% if(student.isApproved == "ไม่ผ่านการตรวจสอบ") { %>
                <td style="background-color: red;color: whitesmoke;"><%= student.isApproved %></td>
              <% } %>

          </tr>
      <% } %>
  <% }); %>
  
</tbody>
</table>
  

      

    </div>

    
<hr>
</main>

<footer class="blog-footer">
  <p>เว็บไซต์นี้สร้างขึ้น</a> by <a href="#">@CooperativeRMUTR</a>.</p>
  
</footer>


    
  </body>
</html>
